
<!-- Team section -->
<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">Meet the team</h1>
		</div>
	</div>
</div>
<!-- /Team section -->

<!-- Cards(in Team section) -->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-6 col-lg-3 ps-2">
			<div class="card">
				<img class="card-imd-top" alt="" src="../assets/images/p1.png">
				<div class="card-body">
					<h4 class="card-title">Ilxat Uygur</h4>
					<p class="card-text">Real estate expert with 10 years expierinces in Turkey Real Estate market</p>
					<a href="#" class="btn btn-outline-secondary">See profile</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-3 ps-3">
			<div class="card">
				<img class="card-imd-top" alt="" src="../assets/images/p2.png">
				<div class="card-body">
					<h4 class="card-title">Yasin Yakup</h4>
					<p class="card-text">IT engineer and software developer
						with 5 years of expierience.</p>
					<a href="#" class="btn btn-outline-secondary">See profile</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-3  ps-3">
			<div class="card">
				<img class="card-imd-top" alt="" src="../assets/images/p3.png">
				<div class="card-body">
					<h4 class="card-title">XXX XXXX</h4>
					<p class="card-text"> Sophisticated lawyer
						with 10 years of expierience.</p>
					<a href="#" class="btn btn-outline-secondary">See profile</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-3 ps-3 pe-2">
			<div class="card">
				<img class="card-imd-top" alt="" src="../assets/images/p4.png">
				<div class="card-body">
					<h4 class="card-title">XXX XXX</h4>
					<p class="card-text">Investment Cunsultent, dominent in local promising investment sectors.</p>
					<a href="#" class="btn btn-outline-secondary">See profile</a>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- /Cards-->
