
<!-- Connect section -->
<div class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-12">
			<h3>Connect</h3>
		</div>
		<div class="col-12 social padding">
			<a href="#"><i class="fa fa-facebook-official"></i></a> <a href="#"><i
				class="fa fa-twitter"></i></a> <a href="#"><i
				class="fa fa-whatsapp"></i></a> <a href="#"><i
				class="fa fa-instagram"></i></a> <a href="#"><i
				class="fa fa-weixin"></i></a>
		</div>
	</div>
</div>
<!-- /Connect section -->
