
<!-- Horizontal nav section -->
<nav class="navbar navbar-expand-xl bg-light navbar-light sticky-top">
	<div class="container">
		<a class="navbar-brand" href="#"><img alt="logo"
			src="../assets/images/logo.png" width="200"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav ms-auto">
                <li class="nav-item ms-3"><a class="nav-link" routerLink="/home" routerLinkActive="active">ANASAYFA</a>
				</li>
				<li class="nav-item ms-3"><a class="nav-link" routerLink="/about" routerLinkActive="active">HAKKIMIZDA</a>
				</li>
				<li class="dropdown nav-item ms-3"><a
					class="dropdown-toggle nav-link" data-bs-toggle="dropdown"
					data-bs-target="dropdown_target" href="#service">FAALIYET ALANIMIZ</a>

					<ul class="dropdown-menu border-0 p-0 m-0 rounded-0">
						<li><a class="dropdown-item border-bottom" href="#">Yatırım</a></li>
						<li><a class="dropdown-item border-bottom" href="#">Vergi Hizmetleri</a></li>
                        <li><a class="dropdown-item border-bottom" href="#">Vatandaşlık</a></li>
                        <li><a class="dropdown-item border-bottom" href="#">Gayri Mankul</a></li>
					</ul></li>
				
				<li class="nav-item ms-3"><a class="nav-link" routerLink="/gallery" routerLinkActive="active">GALERİ</a>
				</li>
				<li class="nav-item ms-3"><a class="nav-link" routerLink="/contact" routerLinkActive="active">İLETİŞİM</a>
				</li>
				<li class="nav-item ms-3"><a class="nav-link" href="#"><img
						class="lan pr-1" alt="tr" src="../assets/images/tr24.png"></a></li>
				<li class="nav-item ms-3"><a class="nav-link" href="#"><img
						class="lan pr-1" alt="tr" src="../assets/images/en24.png"></a></li>
			</ul>
		</div>
	</div>
</nav>
<!-- /Horizontal nav section -->
