<!-- Horizontal nav section -->
<nav class="navbar navbar-expand-xl" (scroll)="onWindowScroll();">
	<div class="container-fluid">
		<a class="navbar-brand" routerLink="/home" ><img alt="logo" src="../assets/images/logo.png" width="200"></a>

		<a class="float wechat navbar-toggler ms-auto"><i class="fa fa-weixin my-float "></i></a>

		<a href="https://api.whatsapp.com/send?phone=5318722096&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202."
			class="float whatsapp navbar-toggler " target="_blank">
			<i class="fa fa-whatsapp my-float mx-auto"></i>
		</a>

		<a class="navbar-toggler navbar-light" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</a>
		

		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item ms-3"><a class="nav-link" routerLink="/home" routerLinkActive="active">{{
						'home.navmenu1' | translate }}</a>
				</li>
				<li class="nav-item ms-3"><a class="nav-link" routerLink="/about" routerLinkActive="active">{{
						'home.navmenu2' | translate }}</a>
				</li>
				<li class="dropdown nav-item ms-3"><a class="dropdown-toggle nav-link" data-bs-toggle="dropdown"
						data-bs-target="dropdown_target" href="#service">{{ 'home.navmenu3' | translate }}</a>

					<ul class="dropdown-menu border-0 p-0 m-0 rounded-0">
						<li><a class="dropdown-item border-bottom nav-link ms-2" href="#">{{ 'home.service1' | translate }}</a></li>
						<li><a class="dropdown-item border-bottom nav-link ms-2" href="#">{{ 'home.service2' | translate }}</a></li>
						<li><a class="dropdown-item border-bottom nav-link ms-2" href="#">{{ 'home.service3' | translate }}</a></li>
						<li><a class="dropdown-item border-bottom nav-link ms-2" href="#">{{ 'home.service4' | translate }}</a></li>
						<li><a class="dropdown-item border-bottom nav-link ms-2" href="#">{{ 'home.service5' | translate }}</a></li>
					</ul>
				</li>

				<li class="nav-item ms-3"><a class="nav-link" routerLink="/gallery" routerLinkActive="active">{{
						'home.navmenu4' | translate }}</a>
				</li>
				<li class="nav-item ms-3"><a class="nav-link" routerLink="/contact" routerLinkActive="active">{{
						'home.navmenu5' | translate }}</a>
				</li>
				<li class="nav-item ms-3"><a class="nav-link" (click)="clickButton('cn')"><img class="lan pr-1" alt="tr"
							src="../assets/images/cn24.png"></a></li>
				<li class="nav-item ms-3"><a class="nav-link" (click)="clickButton('en')"><img class="lan pr-1" alt="tr"
							src="../assets/images/en24.png"></a></li>
			</ul>
		</div>
	</div>
</nav>
<!-- /Horizontal nav section -->