
<!-- Two column section -->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-12 col-lg-6">
			<h3>if you build it...</h3>
			<p>Turkey is a perfect country for Investment due to a young, dynamic and skilled workforce in a country of 
                almost 80 Million people. Besides that the Governmental Incentives, Tax Exempts and Free land allocations are 
                making Turkey even more appealing to Investors.</p>

                <p>The Construction and Real Estate market are the most important sectors that keep the Turkish 
                economy up and running. The main reasons for the construction and real estate sector to be so 
                lively is due too a rapid population growth and the city renovation projects. Therefore the construction
                 and real estate sector are still very interesting and profitable for investors for another while.</p>

               <p> 6% of the real estate sales since September 2017 are from foreign buyers. It has been expected to increase.
                    Besides this foreign investors do not need a residency permit to be able to purchase any real estate. 
                    Foreign investors that invest a minimum amount of 250.000 USD have the right to 
                    apply for Turkish Citizenship. </p>
			<br>
			<button type="button" class="btn btn-primary">Learn more</button>

		</div>
		<div class="col-lg-6">
			<img class="img-fluid" alt="learn" src="../assets/images/passport.jpeg">
		</div>
	</div>

</div>
<hr class="my-4">
<!-- /Two column section -->
