<!-- Welcome section -->
<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-6">Start your adventure</h1>
		</div>
		<hr>
		<div class="col-12">
			<p class="lead">Orient Express is professional investment&consultancy service providor, our only goal is to keep your investment 
                profitable and reliable in Turkey.
            </p>
		</div>
	</div>
</div>

<!-- /Welcome section -->


<!-- Three column section -->
<div class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-xs-12 col-sm-6 com-md-4">
            <i class="fa fa-money"></i>
			<h3>INVESTMENT</h3>
			<p>Profitable investments in different sectors</p>
		</div>
		<div class="col-xs-12 col-sm-6 com-md-4">
			<i class="fa fa-id-card"></i>
			<h3>CITIZENSHIP</h3>
			<p>New life style, access multiple contries easily</p>
		</div>
		<div class="col-sm-12 com-md-4">
			<i class="fa fa-building"></i>
			<h3>REAL ESTATE</h3>
			<p>Invest to your future</p>
		</div>
		<hr class="my-4">

	</div>
</div>
<!-- /Three column section -->