<!-- Footer section -->
<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-4">
				<img alt="logo" src="../assets/images/logo.png">
				<hr>
				<p>212-222-222</p>
				<p>info@orientexpress.com</p>
				<p>XXX caddesi, XXX Mah</p>
				<p>Halkalı Istanbul, 34000</p>
			</div>
			<div class="col-md-4">
				<hr>
				<h2>Working Hours</h2>
				<hr>
				<p>Monday: 9:00 - 5:00</p>
				<p>Saturday: 10:00 - 4:00</p>
				<p>Sunday:Closed</p>
			</div>
			<div class="col-md-4">
				<hr>
				<h2>Service Area</h2>
				<hr>
				<p>Istanbul Turkey, 34000</p>
				<p>Izmir,Turkey 35000</p>
				<p>Ankara,Turkey 06000</p>
				<p>Antalya,Turkey 07000</p>
			</div>
			<div class="col-12">
				<hr>
				<h5>&copy;www.yaytech.com</h5>
			</div>
		</div>

	</div>
</footer>
<!-- /Footer section -->