<!-- Jumotron section -->
<div class="container-fluid">
	<div class="row jumbotron">
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
			<p class="lead">Orient Express Investments (OE Investments) is a real estate marketing and investment consultancy company in Turkey, 
                which bridges Turkish developers and Chinese investors around the world.
                 It was established to offer trusted and best-in-class service in the real estate sector, 
                which opened its doors to foreign investment on the heels of the new citizinship&asset Law in September 2018</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
			<a href="#"><button type="button"
					class="btn btn-outline-secondary btn-lg">Let's Begin</button></a>
		</div>
	</div>
</div>
<!-- /Jumotron section -->